<!-- views/congratulations.ejs -->



<div class="container mt-5">
    <div class="congratulations-container">
        <h1 class="display-4">Congratulations!</h1>
        <p class="lead">You have successfully applied for the job. An email has been sent to you with further details.</p>
        <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</div>


